.todo-item {
    display:flex;
    padding: 10px;
    margin: 2px;
    background: linear-gradient(to right,#47a6ff59, #669ccf);
    animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
.todo-text {
    flex:1;
}
.delete{
    background-color: red;
    border: none;
    color: white;
    flex: 0.03;
    border-radius: 38px;
    outline: none;
    padding: 2px;
}
.delete:active{
    border:1px solid white;
}
.todo {
    /* border-bottom: 1px #ccc dotted; */
    padding: 0 10px;
}
.completed {
    text-decoration: line-through;
}